{% extends "base.html" %}
{% load static %}
{% block main_content %}

<div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/media/{{product.image}}" alt="..."></div>
        <div class="col-md-6">
            <div class="small mb-1">{{product.seller}}</div>
            <h1 class="display-5 fw-bolder">{{product.name}}</h1>
            <div class="fs-5 mb-5">
                
                <span>{{product.price}}</span>
            </div>
            <p class="lead">{{product.discreption}}</p>
            <div class="d-flex">
                <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" fdprocessedid="6ls6re">
                <button class="btn btn-primary" type="button"  id="buy-button" onclick="buyNow({{product.id}})">
                    <i class="bi-cart-fill me-1"></i>
                    Buy
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="{% static 'home/js/checkout.js' %}"> </script>
{% endblock main_content %}